In [1]:
import pandas as pd

In [3]:
grod = pd.Series(data = [30, 'yes'], index=['apple', 'milk'])
grod

apple     30
milk     yes
dtype: object

grod.shape

In [4]:
grod.shape

(2,)

In [5]:
'banana' in grod

False

In [6]:
grod['apple']

30

In [8]:
grod.drop('apple')

milk    yes
dtype: object

In [10]:
grod['apple'] + 2

32

In [11]:
grod['apple'] * 2

60

In [12]:
grod

apple     30
milk     yes
dtype: object

In [13]:
grod * 2

apple        60
milk     yesyes
dtype: object

**DATA FRAME**

In [54]:
items = {
    "nitesh": pd.Series(data=[23, 24], index=['name', "lname"]),
    "lin":pd.Series(data=[25, 23, 1], index=['name', "lname", "some"])
}

people = pd.DataFrame(items)

In [55]:
people

       nitesh  lin
lname    24.0   23
name     23.0   25
some      NaN    1

In [56]:
people['akhil'] = [44]
people

ValueError: Length of values does not match length of index

In [57]:
slice_1 = pd.DataFrame(items, index= ['name'], columns=['nitesh'])

In [58]:
slice_1

      nitesh
name      23

In [50]:
slice_1

      nitesh
name      23

In [51]:
slice_1

      nitesh
name      23

In [59]:
slice_1

      nitesh
name      23

In [61]:
slice_1.count()

nitesh    1
dtype: int64

In [62]:
slice_1.isnull().sum().sum()

0